<ul class="nav nav-main">
    <li class="nav-active">
        <a href="/home">
            <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","Account")">
            <i class="fa fa-bank" aria-hidden="true"></i>
            <span>Account</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","Contact")">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>Contact</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","Lead")">
            <i class="fa fa-cubes" aria-hidden="true"></i>
            <span>Lead</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","Sale")">
            <i class="fa fa-dollar" aria-hidden="true"></i>
            <span>Sale</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","Activity")">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <span>Activity</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <span>Document</span>
        </a>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-gear" aria-hidden="true"></i>
            <span>Settings</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="~/Users">
                    User
                </a>
            </li>
            <li>
                <a href="~/AccountCustomField">
                    Account Custom Field
                </a>
            </li>
            <li>
                <a href="~/ContactCustomField">
                    Contact Custom Field
                </a>
            </li>
            <li>
                <a href="~/LeadCustomField">
                    Lead Custom Field
                </a>
            </li>
            <li>
                <a href="~/SaleCustomField">
                    Sale Custom Field
                </a>
            </li>
            <li>
                <a href="~/ActivityCustomField">
                    Activity Custom Field
                </a>
            </li>
            <li>
                <a href="~/Source">
                    Source
                </a>
            </li>
            <li>
                <a href="~/Rating">
                    Rating
                </a>
            </li>
            <li>
                <a href="~/Industry">
                    Industry
                </a>
            </li>
            <li>
                <a href="~/AccountType">
                    Account Type
                </a>
            </li>
            <li>
                <a href="~/LeadStatus">
                    Lead Status
                </a>
            </li>
            <li>
                <a href="~/SaleStage">
                    Sale Stage
                </a>
            </li>
            <li>
                <a href="~/Service">
                    Service
                </a>
            </li>
            <li>
                <a href="~/ActivityStatus">
                    Activity Status
                </a>
            </li>
            <li>
                <a href="~/ActivityType">
                    Activity Type
                </a>
            </li>
            <li>
                <a href="@Url.Action("LeadBySource","Report")">
                    LeadBy Source
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-parent">
        <a>
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <span>Reports</span>
        </a>
        <ul class="nav nav-children">
            <li>
                <a href="/Report/LeadBySource">
                    Lead By Source
                </a>
            </li>
            <li>
                <a href="/Report/AccountByIndustry">
                    Account By Industry
                </a>
            </li>
            <li>
                <a href="/Report/LeadByOwner">
                    Lead By Owner
                </a>
            </li>
            @*<li>
                    <a href="@Url.Action("KeyAccounts","Report")">
                        Key Accounts
                    </a>
                </li>


                <li>
                    <a href="@Url.Action("LeadByIndustry","Report")">
                        Lead By Industry
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LeadByService","Report")">
                        Lead By Service
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("LeadByStatus","Report")">
                        Lead By Status
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("LeadConverted","Report")">
                        Lead Converted
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("SaleByService","Report")">
                        Sale By Service
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("SaleByOwner","Report")">
                        Sale By Owner
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("SaleBySaleStage","Report")">
                        Sale By Sale Stage
                    </a>
                </li>*@
        </ul>